@charset "utf-8";


/* IDセレクタ */
#top {
    color: currentColor;
}

#id-1{
    color: crimson;
}


a:link{
    color:skyblue;
}


a:visited{
    color:mediumpurple;
}


h1:hover{
    font-size: 3em;
}


input[type="submit"]{
    
    border: 1px solid #0086F9;
    border-radius: 4px;
    background: linear-gradient(0deg, #7d9af7, #b6d6f7);
    color:cornsilk;
    
}

input[type="reset"]{
    
    border: 1px solid #FFFFFF;
    border-radius: 4px;
    background: linear-gradient(0deg, #7d9af7, #b6d6f7);
    color:cornsilk;
    
}


button {
    font-size: 1.0em;
    font-weight: bold;
    padding: 10px 30px;
    background-color: #ed93b0;
    color: #fff;
    border-style: none;
}
